@{
    ViewData["Title"] = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
    <div>
        <h4>Datos del emisor</h4>
        <div class="d-inline-block">
            <label for="rfc" class="form-label">RFC</label>
            <input type="text" class="form-control w-auto" id="rfc" placeholder="RFC">
        </div>
        <div class="mb-3 d-inline-block">
            <label for="idRazonS" class="form-label">Nombre o Razon Social</label>
            <input type="text" class="form-control w-auto" id="idRazonS" placeholder="Nombre o Razon Social">
        </div>
        <div class="mb-3 d-inline-block">
            <label for="idRegimenF" class="form-label">Regimen Fiscal</label>
            <input type="text" class="form-control w-auto" id="idRegimenF" placeholder="Regimen Fiscal">
        </div>
    </div>
    <div>
        <h4>Datos del receptor</h4>
        <div class="d-inline-block">
            <label for="rfc" class="form-label">RFC</label>
            <input type="text" class="form-control w-auto" id="rfc" placeholder="RFC">
        </div>
        <div class="mb-3 d-inline-block">
            <label for="idRazonS" class="form-label">Nombre o Razon Social</label>
            <input type="text" class="form-control w-auto" id="idRazonS" placeholder="Nombre o Razon Social">
        </div>
        <div class="mb-3 d-inline-block">
            <label for="id_RecidenciaF" class="form-label">Residencia Fiscal</label>
            <input type="text" class="form-control w-auto" id="id_RecidenciaF" placeholder="Residencia Fiscal">
        </div>
        <div class="mb-3 d-inline-block">
            <label for="idRegimenF" class="form-label">Regimen Fiscal</label>
            <input type="text" class="form-control w-auto" id="idRegimenF" placeholder="Regimen Fiscal">
        </div>
    </div>
    </body>
</html>